.apresentacao {
  background-color: var(--black);
}

.apresentacao__conteudo {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.apresentacao__texto-titulo {
  font-family: var(--baloo2);
  color: var(--c1);
  font-size: 2rem;
  font-weight: 400;
}

.apresentacao__texto-titulo span {
  color: var(--lilas);
  font-size: 4.0625rem;
  font-weight: 700;
}

.apresentacao__texto-subtitulo {
  color: var(--c2);
  font-size: 2rem;
  font-weight: 400;
}

.apresentacao__texto-desc {
  font-family: var(--firasans);
  color: var(--c3);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.3;
}

.apresentacao_perfil {
  gap: 1.25rem;
}

.apresentacao_perfil-image {
  max-width: 250px;
  object-fit: cover;
}

.apresentacao__perfil__redes {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .apresentacao__conteudo {
    padding-top: 1rem;
  }
  .apresentacao__texto-titulo {
    font-size: 1.25rem;
  }
  .apresentacao__texto-titulo span {
    font-size: 40px;
  }
  .apresentacao__texto-subtitulo {
    font-size: 25px;
  }
  .apresentacao__texto-desc {
    font-size: 14px;
  }
}

@media screen and (max-width: 425px) {
  .apresentacao_perfil-image {
    max-width: 140px;
  }
  .apresentacao__perfil__redes img {
    width: 70%;
  }
  .apresentacao__conteudo {
    padding-top: 0.9rem;
  }
  .apresentacao__texto-titulo {
    font-size: 1rem;
  }
  .apresentacao__texto-titulo span {
    font-size: 30px;
  }
  .apresentacao__texto-subtitulo {
    font-size: 16px;
  }
  .apresentacao__texto-desc {
    font-size: 10px;
  }
}
