.apresentacao {
  background-color: var(--gitbg);
}

.apresentacao__conteudo {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  gap: 10px;
}

.apresentacao__texto-titulo {
  font-family: var(--baloo2);
  color: var(--gittitle);
  font-size: 2rem;
  font-weight: 400;
}

.apresentacao__texto-titulo span {
  color: var(--lilas);
  font-size: 4.0625rem;
  font-weight: 700;
}

.apresentacao__texto-subtitulo {
  color: var(--gitsubtitle1);
  font-size: 2rem;
  font-weight: 400;
}

.apresentacao__texto-desc {
  font-family: var(--firasans);
  color: var(--gitsubtitle2);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.3;
}

.apresentacao_perfil {
  gap: 1.25rem;
}

.apresentacao_perfil-image {
  max-width: 250px;
  object-fit: cover;
}

.apresentacao__perfil__redes {
  padding-left: 0;
  margin: 0;
}

.btn-curriculo {
  background-color: var(--lilas2);
  border: none;
  color: var(--white);
}

.btn-curriculo a {
  color: var(--gittitle);
  background-color: var(--lilas2);
  border: none;
  color: var(--white);
}
.btn-curriculo:hover {
  background-color: var(--lilas3);
  border: none;
}

@media screen and (max-width: 768px) {
  .apresentacao__conteudo {
    padding-top: 1rem;
  }
  .apresentacao__texto-titulo {
    font-size: 1.25rem;
  }
  .apresentacao__texto-titulo span {
    font-size: 40px;
  }
  .apresentacao__texto-subtitulo {
    font-size: 25px;
  }
  .apresentacao__texto-desc {
    font-size: 14px;
  }
}

@media screen and (max-width: 425px) {
  .apresentacao_perfil-image {
    max-width: 140px;
  }
  .apresentacao__perfil__redes img {
    width: 70%;
  }

  .apresentacao__texto-titulo {
    margin-bottom: 0;
  }

  .apresentacao__texto-subtitulo {
    font-size: 1.125rem;
  }
  .apresentacao__texto-desc {
    font-size: 14px;
  }
}
