:root {
  --c1: #fafafa;
  --c2: #f2f2f2;
  --c3: #dedede;
  --c13: #171717;
  --lilas: #a5a6f6;
  --black: hsl(0, 0%, 0%);
  --branco: #ffffff;
  --baloo2: 'Baloo 2', cursive;
  --firasans: 'Fira Sans', sans-serif;
}
body {
  background-color: var(--black);
  color: var(--c2);
  font-family: var(--firasans);
  max-width: 1200px;
  margin: 0 auto;
}
.container {
  padding-right: 6%;
  padding-left: 6%;
}
