.contato {
  background-color: var(--githead);
}

.contato__conteudo {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.contato .subtitulo {
  color: var(--gitsubtitle3);
}

.contato__desc {
  gap: 15px;
  font-family: var(--firasans);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3;
}
.contato__copy {
  color: var(--gitsubtitle3);
  font-family: var(--firasans);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  padding-bottom: 30px;
}

.redes__sociais .contato {
  max-width: 150px;
}

@media screen and (max-width: 768px) {
  .contato__conteudo {
    grid-template-columns: 1fr;
  }
}
