.formacao {
  background-color: var(--c13);
}
.formacao__conteudo {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.formacao__desc {
}

.formacao .subtitulo {
  color: var(--black);
}

.formacao__desc-texto {
  color: var(--c5);
  font-family: var(--firasans);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3;
}

.formacao__desc-texto span {
  color: var(--c3);
  font-weight: 700;
}

.formacao__desc_cards {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0 30px 0;
  gap: 10px;
}

.formacao__desc__card {
  border-radius: 5px;
  background: #090909;
  width: 170px;
  height: 160px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 0;
}

.card__titulo {
  color: var(--c6);
  font-family: var(--firasans);
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
}

.card__curso {
  color: var(--c3);
  font-family: var(--firasans);
  font-weight: 700;
  font-size: 1rem;
}

.card__instituicao {
  color: var(--c6);
  font-family: var(--firasans);
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}

.formacao__cursosIntensivos__titulo {
  margin-bottom: 0;
  padding: 0 0 15px 0;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: var(--popins);
  color: var(--c5);
}
.cursosIntensivos_lista {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  flex-direction: column;
  justify-content: space-between;
}
.cursosIntensivos_lista__item {
  font-size: 1rem;
  line-height: 1.3;
  color: var(--c3);
}

.cursosIntensivos_lista a {
  color: var(--lilas);
  transition: 0.3s;
}

.cursosIntensivos_lista a:hover {
  color: var(--lilas3);
}

@media screen and (max-width: 992px) {
  .formacao .subtitulo {
    width: 5ch;
  }
}
@media screen and (max-width: 768px) {
  .formacao__conteudo {
    grid-template-columns: 1fr;
  }
  .formacao .subtitulo {
    width: inherit;
  }
}
