.subtitulo {
  font-family: var(--baloo2);
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 14ch;
}

/* .grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
} */
