.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.header__logo {
}

.header__titulo__img {
  display: inline-block;
  width: 16px;
  margin-left: 5px;
}

.header__menu ul {
  display: flex;
  gap: 40px;
  font-size: 1rem;
}

.menu__link a {
  padding: 10px 5px;
  color: var(--c2);
  position: relative;
}

.menu__link a::after {
  content: '';
  display: block;
  height: 2px;
  width: 0px;
  margin-top: 4px;
  transition: 0.3s;
  background: var(--lilas);
  position: absolute;
}
.menu__link a:hover::after {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
  }
}
