.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
}

.header__titulo {
  color: var(--c2);
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--baloo2);
  line-height: 1.2;
  padding: 12px 0 12px 0;
}

.header__menu ul {
  display: flex;
  gap: 40px;
  font-size: 0.875rem;
}

.menu__link a {
  padding: 12px 0 12px 0;
  color: var(--c2);
}
