.header .container {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__logo {
}

.header__nav__lista {
  display: flex;
  gap: 40px;
  font-size: 1rem;
}

.nav__link a {
  padding: 10px 0px;
  color: var(--c2);
  position: relative;
}

.nav__link a::after {
  content: '';
  display: block;
  height: 2px;
  width: 0px;
  margin-top: 4px;
  transition: 0.3s;
  background: var(--lilas);
  position: absolute;
}
.nav__link a:hover::after {
  width: 100%;
}

@media screen and (max-width: 425px) {
  .header .container {
    flex-direction: column;
  }
}
