.sobre {
  padding: 40px 0;
  background-color: var(--black);
}

.sobre__conteudo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

/* sobre titulo */
.sobre .subtitulo {
  display: block;
  color: var(--c13);
}

/* sobre descricao p */
.sobre__desc {
  color: var(--c3);
  font-family: var(--firasans);
  font-weight: 400;
  font-size: 20px;
  max-width: 50ch;
  line-height: 1.3;
}

.sobre__desc span {
  color: var(--c3);
  font-weight: 700;
}

.interesses {
}

.interesses__titulo {
  padding: 60px 0 30px 0;
  font-size: 18px;
  font-weight: 700;
  font-family: var(--popins);
  color: var(--c5);
}

.interesses__cards {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 400px;
}

.interesses__cards__card {
  align-items: center;
  background-color: var(--c13);
  border-radius: 5px;
  color: var(--c5);
  display: flex;
  font-family: var(--firasans);
  font-size: 18px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0px;
  height: 80px;
  transition: 0.3s;
  text-align: center;
  width: 80px;
}

.interesses__cards__card:hover {
  background-color: var(--lilas);
  color: var(--c12);
}

@media screen and (max-width: 820px) {
  .sobre__conteudo {
    gap: 30px;
  }
}

@media screen and (max-width: 425px) {
  .sobre__desc__texto {
    font-size: 1rem;
    padding-right: 1rem;
  }
}
