.sobre {
  background-color: var(--black);
}

.sobre__conteudo {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

/* sobre titulo */
.sobre .subtitulo {
  display: block;
  color: var(--c11);
}

/* sobre descricao p */
.sobre__desc {
  color: var(--c3);
  font-family: var(--firasans);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3;
}

.sobre__desc span {
  color: var(--c3);
  font-weight: 700;
}

.interesses__titulo {
  margin-bottom: 0;
  padding: 30px 0 15px 0;
  font-size: 18px;
  font-weight: 700;
  font-family: var(--popins);
  color: var(--c5);
}

.interesses__cards {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 400px;
}

.interesses__cards__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--c13);
  border-radius: 5px;
  color: var(--c5);
  font-family: var(--firasans);
  font-size: 14px;
  padding: 5px;
  height: 70px;
  width: 70px;
  transition: 0.3s;
  text-align: center;
}

.interesses__cards__card:hover {
  background-color: var(--lilas2);
  color: var(--c12);
}

@media screen and (min-width: 1025px) {
  .interesses__cards {
    max-width: initial;
  }
}

@media screen and (max-width: 768px) {
  .sobre__conteudo {
    grid-template-columns: 1fr;
  }
  .interesses__cards {
    max-width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .interesses__cards {
    padding-left: 0;
    justify-content: flex-start;
  }
}
